


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 18px;
    border-radius: 15px;
    background-color: rgb(149, 204, 186);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

 body {

	background-size: cover;


  }


  .mi-icono {
    top: 50px;
    right: 50px;
    cursor: pointer;
  }

  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
  }
  
  input[type="radio"] {
    display: inline-block;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: rgb(187, 183, 183);
    padding: 20px;
    border-radius: 15px;
    border: none;
  }



  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {

    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 15px;
  }

  .boton {
    background-color: #585a58;
    border-radius: 15px;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    
    background-position: 50px;
    bottom: 0;
  }


  /* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
    /* Estilos para el contenido principal */
    .main-content-header-container-body-boton-logo-footer-contain {
      width: 70%;
      float: left;
    }
    
    /* Estilos para la barra lateral */
    .sidebar-header-container-body-boton-logo-footer-contain {
      width: 30%;
      float: right;
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 767px) {
    /* Estilos para el contenido principal */
    .main-content-header-container-body-boton-logo-footer-contain {
      width: 100%;
      float: none;
    }
    
    /* Estilos para la barra lateral */
    .sidebar {
      width: 100%;
      float: none;
    }
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contain {
    max-width: 800px;
    margin: 0 auto;
  }

  html{

    background-color: #fff1f1;
  }